<div class="container">
	
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    	<h2>Learning To Code Is Hard</h2>
    	<p>If you have never written a line of code before then it can be very hard to know where to start, let alone getting started. There are plenty of tutorials out there to choose from but how do you know which to pick and whether you even have the knowledge for the tutorial you are trying to go through?</p>
    	<p>A lot of people will tell you to learn one thing before you learn another thing, and then you will go to a different website and read conflicting information that tells you just the opposite!</p>
    	<p>The tutorials are very good and have a lot of information but before you know it you have progressed so quickly that you don't even understand the code anymore and your only on your fourth tutorial. There never seems to be enough repetition of projects, its one thing then moving on to a totally different thing. They assume you will have absorbed all the code by going through it just once, and even if they don't asume that they expect you to take the code and build 3 more similar projects but with little guidance even doing that can be hard, especially for a beginner programmer!</p>
    	<p>Some tutorials offer challenges but not many! Which is usually just what a beginner programmer needs as they don't yet know enough of a programming language to be building their own projects, they still need guidance. The challenges however can actually be too challenging... Wait what? Yes to a new programmer some of the challenges can be too confusing or challenging which isn't good as it just ends up deterring and de motivating them. You might think that it would be bad to have challenges that are too easy, well it isn't. As long as you learn something and progress slightly every time then this is exactly what you want!! You learn and get better with lots of small wins that stack up. Not just one huge code example, if that were the case then everyone would do one tutorial and be a master coder.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>What Will I Learn?</h2>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483874/html-css_xlsinp.png' %>
  	</div>
  	<div class="col-md-6">
  		<h3>HTML and CSS</h3>
  		<p>These tutorials cover a wide range of programming concepts. The tutorials are for beginners new to programming who want a clear explanation of the code in front of them. They start basic and progress at a steady rate.</p>
  		<p>The first tutorials cover HTML and CSS, these are the building blocks of the web. HTML or Hyper Text Markup Language is made up of tags which describe a web document or webpage, CSS or Cascading Style Sheets are used to then style the tags and webpage so as to make it look good. HTML and CSS when combined can get quite tricky so it shouldn't be under estimated. </p>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6">
  		<h3>Javascript</h3>
  		<p>Javascript is the language that allows webpage interaction...</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483880/js_sazs88.jpg' %>
  	</div>
  </div>
  
</div>