// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-size: 1.2em;
}

.main-section {
	background: url('http://res.cloudinary.com/dq2bsl9c5/image/upload/v1455445855/computer_r9sebm.jpg') center center no-repeat;
	background-size: cover;
	padding: 2em;
	min-height: 60vh;
	
	h2 {
		color: #fff;
		letter-spacing: 1.3px;
	}
}

.no-border {
	border-radius: 0px;
}

.input-margin {
	margin: 1.7em 0;
} 

.no-margin {
	margin-bottom: 0;
}

/*_info partial*/

img {
	max-width: 60%;
	padding: 1em 0;
}

.row-margin {
	margin-top: 2em;
	margin-bottom: 2em;
}

.footer {
	border-top: 1px solid #eee;
	padding: 2em 0;
}

